/******************************************************************

Site Name: Website name here
Author: Your name/company here

One Nexus Framework by Edmund Reed of bluenexusmedia.com
http://onenexusproject.com - http://edmundreed.co.uk

******************************************************************/

/******************************************************************
Skeleton
******************************************************************/

@import "skeleton/normalize";
@import "skeleton/variables";
@import "skeleton/base";
@import "skeleton/grid";
@import "skeleton/helpers";
@import "skeleton/print";

/******************************************************************
Elements
******************************************************************/

@import "elements/accordions";
@import "elements/alert-boxes";
@import "elements/buttons";
@import "elements/blockquotes";
@import "elements/carousels";
@import "elements/fonts";
@import "elements/forms";
@import "elements/modals";
@import "elements/headings";
@import "elements/icons";
@import "elements/images";
@import "elements/links";
@import "elements/lists";
@import "elements/modals";
@import "elements/tables";
@import "elements/tabs";
@import "elements/tooltips";

@import "elements/image-headers";

/******************************************************************
Modules
******************************************************************/

@import "modules/breadcrumb";
@import "modules/footer";
@import "modules/header";
@import "modules/logo";
@import "modules/main-nav";
@import "modules/nav-trigger";
@import "modules/off-canvas-nav";
@import "modules/scroll-top";



/******************************************************************
General code 
******************************************************************/

// Image header
.app-header {
	background: #242424 url(../assets/images/ih-index-500.jpg) no-repeat top center;
	// background-size: cover;
}

// Page name
.pagename-wrapper {
	padding: 2em 0;
	h2 { 
		display: inline-block;
		color: $dark-white; 
		padding: 0 25px 0 5px;
		background: #000;
		line-height: 1.2;
	}
}